/* 
    Created on : 2015-07-02, 11:31:38
    Author     : Krzysiek
*/
#header {
    font-size: medium;
    font-weight: bold;
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    width:180px;
    min-height:600px;
    float:left;
    padding:5px;	      
}
#section {
    float:left;
    padding:10px;
    min-height:600px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    padding:10px;
}

.middle {
    position: relative;  
    padding: 10px;
}

.center{
    text-align:center;
}
.right{
    text-align: right;
}
.txt_center{
    font-weight: bolder;
    font-size: 150%;
    margin: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.headerFont{
    font-size: small;
    font-weight: normal;
}

